# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.env/
_env/
env/
ENV/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Local config
*.env
.env.local
.env.dev
.env.prod
*.sqlite3

test2.py